<div ng-controller="partnersController" id="partners">
    <ui-dialog></ui-dialog>
    <div class="mainCreate" md-button ng-click="newPartner.form.create()"><i class="ion-plus"></i></div>
    <div class="placeholder" ng-show="partners.length == 0">
        <img src="img/placeholders/partners.png" class="img" />
        <div>AÚN NO TIENES PARTNER
            <br>
            <br><span class="message">Agrega a nuevos partners.</span>
        </div>
        <br>
        <br>
        <md-button class="add" ng-click="newPartner.form.create()">AGREGA PARTNER</md-button>
    </div>
    <div class="dataContainer" ng-show="partners.length > 0">
        <input type="text" class="search block left" placeholder="Buscar..." ng-model="filterQuery"/>
        <div class="filterContainer block left">
            <span ng-repeat="letter in alphabet" class="md-icon-button letter" md-button flex hide-sm ng-click="filterLetter(letter)" ng-class="{ active : letter == filterInitial }">{{letter.toUpperCase()}}</span>
        </div>
        <table class="tableContainer">
            <thead>
                <th ng-repeat="header in tableHeaders">{{header.title}}</th>
            </thead>
            <tbody ng-repeat="partner in (filteredpartners = (partners | initial:filterInitial)) | filter:{ name : filterQuery }">
                <tr ng-class-even="'even'" ng-click="gopartner(partner)">
                    <td>{{partner.name}}</td>
                    <td>{{partner.email}}</td>
                    <td>{{partner.password}}</td>
                    <td ng-if="partner.profile == NULL">{{'Sin perfil'}}</td>
                    <td ng-if="partner.profile != NULL">{{partner.profile}}</td>
                </tr>
            </tbody>
        </table>
        <div class="warning" ng-show="filteredpartners.length == 0" >No se encontraron resultados con inicial "{{filterInitial}}"</div>
        <div class="clearBoth"></div>
    </div>
</div>